<div class="container">
  <div class="page-header">
   <h1 class="text-center">notebooks</h1>
  </div>

  <div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
  <a href="/notebooks/new" class="btn btn-sm btn-default" id="newNotebook">new notebook</a>
    </div>
  </div>
  <br>
  <% notebookOnFrontEnd.forEach(function(item) { %>
  <div class="well">
    <div class="pull-right">
      <span>
        <i class="glyphicon glyphicon-pencil">
          <a href="/notebooks/edit/<%= item.id %>" class="edit" id="editNotebook">
          </i>
        EDIT
      </a>
    <hr>
      <i class="glyphicon glyphicon-remove">
        <a href="/notebooks/<%= item.id %>" class="delete-notebook" id="delNotebook">
        </i>
        DELETE
        </a>
      </span>
    </div>
    <h4>
      <a href="/notebooks/<%= item.id %>">
        <%= item.title %>
      </a>
    </h4>
    <p><%= item.content %></p>
  </div>
  <% }); %>
</div>
